li:hover > a.menu-item.nav-link {
    color: var(--secondary);
}

.navbar-light .navbar-nav .nav-link.menu-item:hover {
    color: var(--secondary);
    fill: var(--secondary);
}

nav.main-navbar > .navbar-brand {
    font-family: 'Archive';
}

.menu-item SVG {
    width: 26px;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link.menu-item {
    display: flex;
}

.nav-link.menu-item > * {
    margin: auto;
}

ul > li {
    border-bottom: 2px solid var(--light);
    padding-bottom: 4px;
}

ul > li:hover {
    border-bottom: 2px solid var(--secondary);
}

@media (max-width: 767px) {
    .main-navbar > .navbar-brand {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    nav.main-navbar {
        padding-bottom: 0;
    }

    nav.main-navbar > .navbar-brand {
        padding-bottom: 10px;
    }
}