/*ul > li {
    border-bottom: 4px solid #fff;
}

li:hover > a.navbar-light .navbar-nav .nav-link {
    color: #dc3545;
}*/

li:hover > a.menu-item.nav-link {
    color: var(--secondary);
}

.navbar-light .navbar-nav .nav-link.menu-item:hover {
    color: var(--secondary);
    fill: var(--secondary);
}

.menu-item SVG {
    width: 26px;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link.menu-item {
    display: flex;
}

.nav-link.menu-item > * {
    margin: auto;
}

ul > li {
    border-bottom: 2px solid var(--light);
    padding-bottom: 4px;
}

ul > li:hover {
    border-bottom: 2px solid var(--secondary);
}

nav.main-navbar {
    padding-bottom: 0px;
}

nav.main-navbar > .navbar-brand {
    padding-bottom: 10px;
}