.container {
    margin-top: 20px;
}

@font-face {
    font-family: "Archive";
    src: url("./fonts/Archive.eot?") format("eot"),
    url("./fonts/Archive.woff") format("woff"),
    url("./fonts/Archive.ttf") format("truetype"),
    url("./fonts/Archive.svg#Archive") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("./fonts/AvenirLTStd-Book.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Avenir' !important;
    background: var(--light) !important;
    --secondary: var(--red) !important;
    --divider: #e9ecef;
}

.alert {
    margin: 10px 20px 10px 20px;
}
