.edit-icon, .delete-icon {
    width: 20px;
    height: 20px;
    fill: var(--danger);
}

.edit-icon:hover, .delete-icon:hover {
    filter: brightness(0.5);
}

.suggestions-infos {
    margin-bottom: 40px;
}

.actions {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.actions > *, h6 > * {
    margin: auto;
}

.edit-icon {
    margin-right: 6px;
}

h6 {
    display: flex;
    padding-right: 40px;
    border-bottom: 1px solid var(--divider);
    padding-bottom: 10px;
}

.info-window {
    font-family: 'Avenir';
}

.name {
    font-size: 16px;
    font-weight: bold;
}
